body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

.primary {
    text-align: center;
}

.time {
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
}

code > a {
    font-family: 'Noto Sans Mono', monospace;
    background-color: lightgray;
    color: red;
    padding: 0.3em;
    border-radius: 0.5em;
}

.timetable {
    text-align: center;
    width: 80%;
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
}

.timetable td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.5em;
}


.main-text {
    margin-top: 1em;
    margin-left: 10vw;
    width: 80%;
}
details {
    padding: 0.5em;
}

details > summary {
    border-bottom: 1px solid black;
    cursor: pointer;
}